
#skills {
    background: var(--primary-color);
    padding: 5rem 0 ;
    .header {
      h2 {
        font-size: 2.5rem;
        font-weight: bolder;
        position: relative;
        color: var(--lighter-text);
        text-transform: capitalize;
        letter-spacing: 2px;
        width: 80%;
        margin: 0 auto 1rem auto;
        span {
          color: var(--purple);
        }
      }
      h2::after {
        content: "";
        position: absolute;
        margin-left: 1rem;
        top: 50%;
        width: 20%;
        height: 5px;
        background: var(--purple);
      }
    }
    .container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 80%;
      margin: 0 auto;
      h3{
        font-weight: bolder;
      }
      .languages {
        span {
          font-size: 0.9rem;
          
        }
      }
      .frameworks {
        h3 {
          font-size: 0.9rem;
        }
        span {
          font-size: 0.9rem;
        }
      }
      div {
        background: var(--card-background);
        height: 28rem;
        width: 18rem;
        
        margin: 1.5rem;
        text-align: center;
        transition: 0.5s ease;
        p {
          font-size: 4rem;
          padding: 1rem;
          color: var(--purple);
        }
        h3 {
          color: var(--lighter-text);
          padding-bottom: 1rem;
        }
        span {
          font-size: 1rem;
          color: var(--skills-span);
          line-height: 2;
          .iconify {
            font-size: 1.2rem;
          }
        }
      }
      div:hover {
        transform: translateY(-3%);
        box-shadow: 0 5px var(--purple);
      }
    }
  }


//SKILLS
