:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #F0EEEB;
  --surface: #F0EEEB;
  --text-primary: #1e1e1e;
  --text-secondary: #4b5563;
  --text-muted: #6a6a6a;
  /* --accent: #ff7707; */
  --accent: #00bfff;
  --accent: #02b567;

  --accent: #0084ff;
  /* --accent: #1e1e1e; */
  --primary-color: var(--background);
  --lighter-text: var(--text-secondary);
  --purple: var(--accent);
}

html {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background: var(--background);
  color: var(--text-primary);
}
